@(qcms: List[models.Qcm])
@import helper._

@mainAdmin("Bienvenue sur l'interface de gestion des QCM"){@tags.menu("manageTest")} {
@if(qcms.size() > 1) {<h2>@qcms.size() Questions à choix multiple</h2>}else{<h2>@qcms.size() Question à choix multiple</h2>}
<a href="@controllers.admin.routes.QcmController.create" class="btn btn-primary">Nouveau Qcm</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Questions à passer</th>
      <th>Admin</th>
    </tr>
  </thead>
  @for(qcm <- qcms) {
  <tr>
		<td><a href="@controllers.admin.routes.QcmController.show(qcm.id)">@qcm.id</a></td>
    <td> @qcm.name </td>
    <td> @qcm.description </td>
    <td> @qcm.numberOfQuestions </td>
    <td>
      <div class="row">
        <div class="col-xs-3">
          @form(controllers.admin.routes.QcmController.edit(qcm.id), 'class -> "form-inline", 'role -> "form") {
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-edit" title="Supprimer"></span>
          </button>
          }
        </div>
        <div class="col-xs-3">
          @form(controllers.admin.routes.QcmController.delete(qcm.id), 'class -> "form-inline") {
          <button type="submit" class="btn btn-warning">
            <span class="glyphicon glyphicon-remove" title="Supprimer"></span>
          </button>
          }
        </div>
      </div>
    </td>
  </tr>
  }
</table>
}
