@(qcms: List[models.Qcm], theForm: Form[models.Qcm])
@import helper._
@import helper.twitterBootstrap._

@mainAdmin("Bienvenue sur l'interface de gestion des QCM"){@tags.menu("manageTest")} {
<h1>QCM ENI</h1>

<h1>@qcms.size() qcm(s)</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Question</th>
      <th>Reponse</th>
      <th>admin</th>
    </tr>
  </thead>
  @for(qcm <- qcms) {
  <tr>
    <td> @qcm.id </td>
    <td> @qcm.question </td>
    <td> @qcm.reponse </td>
    <td><span class="glyphicon glyphicon-edit" title="Editer"></span> | @form(controllers.admin.routes.QcmController.delete(qcm.id)) {
      <button type="submit" class="btn danger">
        <span class="glyphicon glyphicon-remove" title="Supprimer"></span>
      </button>
    }</td>


  </tr>
  }
</table>
<h2>Ajouter une question : </h2>
@form(controllers.admin.routes.QcmController.create()) { @inputText(theForm("question"),'_showConstraints -> false) @inputText(theForm("reponse"),'_showConstraints -> false)
    <input type="submit" value="Create">
  }
}
