@(stagiaires: List[models.Stagiaire])
@import helper._
@import helper.twitterBootstrap._

@mainAdmin("Bienvenue sur l'interface de gestion des QCM"){@tags.menu("manageStagiaire")} {
@if(stagiaires.size() > 1) {<h2>@stagiaires.size() stagiaires</h2>}else{<h2>@stagiaires.size() stagiaire</h2>}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Identité</th>
      <th>Promotion</th>
    </tr>
  </thead>
  @for(stagiaire <- stagiaires) {
  <tr>
    <td><a href="@controllers.admin.routes.StagiairesController.show(stagiaire.id)">@stagiaire.id</a></td>
    <td><a href="@controllers.admin.routes.StagiairesController.show(stagiaire.id)">@stagiaire.prenom @stagiaire.nom</a></td>
    <td>@stagiaire.promotion</td>
  </tr>
  }
</table>
}
