@(questions: List[models.Question])

@mainAdmin(){@tags.menuAdmin("manageQuestion")} {
@if(questions.size() > 1) {<h2>@questions.size() questions</h2>}else{<h2>@questions.size() question</h2>}
<a href="@controllers.admin.routes.QuestionsController.create" class="btn btn-primary">Créer une question</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Question</th>
      <th>Reponse</th>
    </tr>
  </thead>
  @for(question <- questions) {
  <tr>
    <td><a href="@controllers.admin.routes.QuestionsController.show(question.id)">@question.id</a></td>
    <td><a href="@controllers.admin.routes.QuestionsController.show(question.id)">@question.question</a></td>
    <td> @question.reponse </td>
  </tr>
  }
</table>
}
