@(questions: List[models.Question])
@import helper._

@mainAdmin(){@tags.menu("manageQuestion")} {
@if(questions.size() > 1) {<h2>@questions.size() questions</h2>}else{<h2>@questions.size() question</h2>}
<a href="@controllers.admin.routes.QuestionsController.create" class="btn btn-primary">Créer une question</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Question</th>
      <th>Reponse</th>
      <th>Admin</th>
    </tr>
  </thead>
  @for(question <- questions) {
  <tr>
    <td><a href="@controllers.admin.routes.QuestionsController.show(question.id)">@question.id</a></td>
    <td><a href="@controllers.admin.routes.QuestionsController.show(question.id)">@question.question</a></td>
    <td> @question.reponse </td>
    <td>
			@if(question.frozen){
				<span class="label label-default">Non modifiable</span>
			}else{
				<a href="@controllers.admin.routes.QuestionsController.edit(question.id)" class="btn btn-default">
					<span class="glyphicon glyphicon-edit" title="Editer"></span>
				</a>
				@form(controllers.admin.routes.QuestionsController.delete(question.id), 'class -> "form-inline pull-right") {
				<button type="submit" class="btn btn-warning">
					<span class="glyphicon glyphicon-remove" title="Supprimer"></span>
				</button>
				}
			}
    </td>
  </tr>
  }
</table>
}
