@(question: models.Question)


@mainAdmin(){@tags.menu("manageQuestion")} {
<div class="row">
	<div class="col-xs-7">
		<h1>Détail de la question</h1>
	</div>
	@if(question.frozen){
		<span class="label label-default">Non modifiable</span>
	}else{
    <a href="@controllers.admin.routes.QuestionsController.edit(question.id)" class="btn btn-default">
      <span class="glyphicon glyphicon-edit" title="Editer"></span> Editer
    </a>
    @helper.form(controllers.admin.routes.QuestionsController.delete(question.id), 'class -> "form-total-inline") {
    <button type="submit" class="btn btn-warning">
      <span class="glyphicon glyphicon-remove" title="Supprimer"></span> Supprimer
    </button>
    }
  }
</div>

@tags.property("id"       , question.id.toString())
@tags.property("question" , question.question)
@tags.property("réponse"  , question.reponse)
}
